<!DOCTYPE html>
<html lang="en">


<head>

    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dinners Done</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body >

<nav class="menu">
    <input type="checkbox" id="toggle-bar">
    <label for="toggle-bar" class='btn'>
        <i class="fa fa-bars"></i>
    </label>

    <ul>
        <li class="nav"> <a href="index.html">Home</a></li>
        <li class="nav"> <a href="recipes.html">Recipes</a></li>
        <li class="nav"> <a  href="login.html">Login</a></li>
        <li class="nav"> <a class="active" href="signup.html">Signup</a></li>
    </ul>
</nav>
<section>
    <div class="container">
        <div class="title"><span>Register</span></div>
        <form method="post">
            <div class="text">

                <input type="text" placeholder="Enter Username" required>
            </div>
            <div class="text">

                <input type="text" placeholder="Enter Email" required>
            </div>
            <div class="text">
                <input type="password" placeholder="Enter Password" required>
            </div>

            <div class="buttn">
                <input type="submit" value="login">
            </div>
            <div class="login">Already have an account? <a href="login.html"> login Now </a></div>
        </form>
    </div>
    </div>



</section>
</body>